<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="Content/Site.css" rel="stylesheet" type="text/css" />
    <!--INICIO: Dependencias para upload-->
    <script src="Content/jQuery/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="Content/jQuery/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
    <link href="Content/Bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="Content/Bootstrap/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="Content/FileUpload/jquery.fileupload-ui.css" rel="stylesheet" type="text/css" />
    <script src="Content/FileUpload/tmpl.min.js" type="text/javascript"></script>
    <script src="Content/FileUpload/canvas-to-blob.min.js" type="text/javascript"></script>
    <script src="Content/FileUpload/load-image.min.js" type="text/javascript"></script>
    <script src="Content/Bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script src="Content/FileUpload/jquery.iframe-transport.js" type="text/javascript"></script>
    <script src="Content/FileUpload/jquery.fileupload.js" type="text/javascript"></script>
    <script src="Content/FileUpload/jquery.fileupload-ip.js" type="text/javascript"></script>
    <script src="Content/FileUpload/jquery.fileupload-ui.js" type="text/javascript"></script>
    <script src="Content/FileUpload/locale.js" type="text/javascript"></script>
    <script src="Content/jquery.dyn.upload.js" type="text/javascript"></script>
    <!--FIM: Dependencias para upload-->
    <script type="text/javascript">
        $(function () {
            'use strict';

            var uploadCompleto = function (idSinistro, idDocumento, filename) {
                alert("UPLOAD = Sinistro: " + idSinistro + ", Documento: " + idDocumento + ", Anexo: " + filename);
            };

            var anexoRemovido = function (idSinistro, idDocumento, filename) {
                alert("DELETE = Sinistro: " + idSinistro + ", Documento: " + idDocumento);
            };

            $('#up1').upload({
                folder: '101',
                subfolder: '1',
                allowUpload: true,
                allowDelete: true,
                onUploadComplete: function (filename) {
                    uploadCompleto('101', '1', filename);
                },
                onDestroyComplete: function (filename) {
                    anexoRemovido('101', '1', filename);
                }
            });

            $('#up2').upload({ folder: '101', subfolder: '2', allowUpload: true, allowDelete: true,
                onUploadComplete: function (filename) {
                    uploadCompleto('101', '2', filename);
                },
                onDestroyComplete: function (filename) {
                    anexoRemovido('101', '2', filename);
                }
            });

            $('#up3').upload({ folder: '101', subfolder: '3', allowUpload: true, allowDelete: true,
                onUploadComplete: function (filename) {
                    uploadCompleto('101', '3', filename);
                },
                onDestroyComplete: function (filename) {
                    anexoRemovido('101', '3', filename);
                }
            });

            $('#up4').upload({ folder: '101', subfolder: '4', allowUpload: true, allowDelete: true,
                onUploadComplete: function (filename) {
                    uploadCompleto('101', '4', filename);
                },
                onDestroyComplete: function (filename) {
                    anexoRemovido('101', '4', filename);
                }
            });
        });
    </script>
</head>
<body>
    <div id="up1">
    </div>
    <div id="up2">
    </div>
    <div id="up3">
    </div>
    <div id="up4">
    </div>
    <!--INICIO: templates para upload-->
    <script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            {% if (file.error) { %}
                <td class="name" colspan="2"><span>{%=file.name%}</span></td>
                <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
                <td class="cancel">
                    <button class="btn-mini btn-warning">
                        <i class="icon-ban-circle icon-white"></i>
                        <span>{%=locale.fileupload.cancel%}</span>
                    </button>
                </td>
            {% } else if (o.files.valid && !i) { %}
                <td width="50%">
                    <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
                </td>
            {% } else { %}
                <td class="name"><span>{%=file.name%}</span></td>
            {% } %}
        </tr>
    {% } %}
    </script>
    <script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td class="delete">
                    <button class="btn-mini btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                        <i class="icon-trash icon-white"></i>
                        <span>{%=locale.fileupload.destroy%}</span>
                    </button>
                </td>
            {% if (file.error) { %}
                <td class="name"><span>{%=file.name%}</span></td>
                <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
            {% } else { %}
                <td colspan="3" class="name">
                    <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
                </td>
            {% } %}
            
        </tr>
    {% } %}
    </script>
    <!--INICIO: fim para upload-->
</body>
</html>
